# Import modules

In [390]:
!pip install graphene
import graphene
import json
import sys, io
import pandas as pd
import numpy as np
import importlib
import os
import pathlib
import requests
import torch

bundle_root = pathlib.Path(os.environ.get('LABS_BUNDLE_ROOT', '/labs'))
sys.path.append(str(bundle_root / 'functions/index_by_nationality'))

Requirement already satisfied: graphene in /opt/conda/lib/python3.6/site-packages (2.1.3)
Requirement already satisfied: graphql-relay<1,>=0.4.5 in /opt/conda/lib/python3.6/site-packages (from graphene) (0.4.5)
Requirement already satisfied: six<2,>=1.10.0 in /opt/conda/lib/python3.6/site-packages (from graphene) (1.11.0)
Requirement already satisfied: aniso8601<4,>=3 in /opt/conda/lib/python3.6/site-packages (from graphene) (3.0.2)
Requirement already satisfied: promise<3,>=2.1 in /opt/conda/lib/python3.6/site-packages (from graphene) (2.2.1)
Requirement already satisfied: graphql-core<3,>=2.1 in /opt/conda/lib/python3.6/site-packages (from graphene) (2.1)
Requirement already satisfied: rx>=1.6.0 in /opt/conda/lib/python3.6/site-packages (from graphql-core<3,>=2.1->graphene) (1.6.1)

In [416]:
query_metadata = """query metadata {nationalityList, jobList}"""
query_crew_list = """query data ($nationality: String!, $job: String!)
{crewList(nationality: $nationality, job: $job)
{
aggregateRevenue,
name
}
}"""
query_movie_list = """query data ($crewMemberName: String!)
{movieList(crewMemberName: $crewMemberName)
{
movieTitle,
movieRevenue
}
}
"""
query_introspect = """{
  __schema {
    types {
      name
    }
  }
}"""
query_metadata = """query metadata {nationalityList(job:"Director"), jobList(nationality:"Arabic")}"""
query_playground = """{"operationName":"IntrospectionQuery","variables":{},"query":"query IntrospectionQuery {\n  __schema {\n
queryType {\n      name\n    }\n    mutationType {\n
name\n    }\n    subscriptionType {\n      name\n    }\n
types {\n      ...FullType\n    }\n    directives {\n
name\n      description\n      locations\n      args {\n
...InputValue\n      }\n    }\n  }\n}\n\nfragment FullType on __Type {\n
kind\n  name\n  description\n  fields(includeDeprecated: true) {\n    name\n
description\n    args {\n      ...InputValue\n    }\n    type {\n
...TypeRef\n    }\n    isDeprecated\n    deprecationReason\n  }\n
inputFields {\n    ...InputValue\n  }\n  interfaces {\n    ...TypeRef\n  }\n
enumValues(includeDeprecated: true) {\n    name\n    description\n    isDeprecated\n
deprecationReason\n  }\n  possibleTypes {\n    ...TypeRef\n  }\n}\n\n
fragment InputValue on __InputValue {\n  name\n  description\n  type {\n    ...TypeRef\n  }\n
defaultValue\n}\n\nfragment TypeRef on __Type {\n  kind\n  name\n  ofType {\n    kind\n    name\n
ofType {\n      kind\n      name\n      ofType {\n        kind\n        name\n        ofType {\n
kind\n          name\n          ofType {\n            kind\n            name\n            ofType {\n 
kind\n              name\n              ofType {\n                kind\n                name\n              }\n 
}\n          }\n        }\n      }\n    }\n  }\n}\n"}"""
query_crew_list = json.dumps({'variables': {'nationality': 'Italian', 'job': 'Art Director'}, 'query': query_crew_list})
query_movie_list = json.dumps({'variables': {'crewMemberName': 'Oliver Roberts'}, 'query': query_movie_list})
query_metadata = json.dumps({'query': query_metadata})
query_introspect = json.dumps({'query': query_introspect})

# Test handler functions

In [371]:
import handler 
importlib.reload(handler);

In [414]:
%%time
out = handler.handle(query_crew_list)

CPU times: user 38.5 ms, sys: 546 ms, total: 584 ms
Wall time: 615 ms

In [356]:
with open(str(bundle_root / 'functions/index_by_nationality/schema.gql'), 'w') as fp:
    json.dump(handler.schema.introspect(), fp)

In [402]:
endpoint = 'https://pantheon.cloud.contiamo.com/contiamo-next/catalogs/73399930-b7b6-5206-82f8-40fad7134ccf/savedQueries/f89a4580-fed1-11e8-b5b1-1b599c08eaab/execute'
headers = {'Content-Type': 'application/json', 'Authorization': 'Bearer fc0032234bbbb447a08fb1e6df6b494fb165806f837df07dd6d07cc09e3c2f09'}

In [411]:
def query_pantheon(endpoint: str) -> pd.DataFrame:
    r = json.loads(requests.post(endpoint, data='{}', headers=headers).text)
    return pd.DataFrame(r['rows'], columns = [col['ref'] for col in r['columns']])

In [412]:
query_pantheon(endpoint)

          crew.member
0            G. Kogan
1      Egle Kvintiene
2          Jay Wilsey
3     Patrick Senécal
4      David X. Cohen
5       Kate Thurston
6  José Luis de Celis
7    Tricia Linklater
8     Ronald G. Smith
9         Mark Bussan

In [405]:
r = json.loads(requests.post(endpoint, data=data, headers=headers).text)

In [407]:
pd.DataFrame(r['rows'], columns = [col['ref'] for col in r['columns']])

          crew.member
0            G. Kogan
1      Egle Kvintiene
2          Jay Wilsey
3     Patrick Senécal
4      David X. Cohen
5       Kate Thurston
6  José Luis de Celis
7    Tricia Linklater
8     Ronald G. Smith
9         Mark Bussan

In [381]:
s = json.loads(s)

In [384]:
s['rows']

[['G. Kogan'],
 ['Egle Kvintiene'],
 ['Jay Wilsey'],
 ['Patrick Senécal'],
 ['David X. Cohen'],
 ['Kate Thurston'],
 ['José Luis de Celis'],
 ['Tricia Linklater'],
 ['Ronald G. Smith'],
 ['Mark Bussan']]

In [388]:
pd.DataFrame(s['rows'], columns = [col['ref'] for col in s['columns']])

          crew.member
0            G. Kogan
1      Egle Kvintiene
2          Jay Wilsey
3     Patrick Senécal
4      David X. Cohen
5       Kate Thurston
6  José Luis de Celis
7    Tricia Linklater
8     Ronald G. Smith
9         Mark Bussan

# Deploy function

### cheat sheet

In [6]:
# labs bundle deploy staging (deploy to staging)
# labs bundle build classify_name (build locally for debugging)
# labs function run sunburst -d '{"date_range": [20180201,20180401], "max_level":4, "threshold":1000, "operating_system": "all"}' (example local call)

In [ ]:
#labs bundle build classify_name && docker run -it --rm --name function_test -p 5000:5000 classify_name python index.py

# Test function

In [177]:
function_url = 'https://labs.cloud.contiamo.com/b0a002bf-d166-5ccc-a552-ebe89882cb90/v1/function/be852eaa-c701-4f73-8ed7-aceb6dd4aeb8/index_by_nationality'

In [337]:
%%time
deployed_output = requests.post(function_url,
                                data=query_movie_list).json()

CPU times: user 23 ms, sys: 0 ns, total: 23 ms
Wall time: 10.2 s

In [338]:
deployed_output

{'errors': ['Server returned unexpected status code: 502 - '],
 'fieldErrors': {}}

### Compare

In [165]:
output['sunburst_data'] == deployed_output['sunburst_data']

True